# API Keys and Environment Variables
.env

# Personal Data
master_data.json

# Generated Outputs
*.pdf
output_resume.md
*.docx



# Python Artifacts
__pycache__/
*.pyc
*.msi

# Virtual Environments
.venv/
venv/
env/

# Personal Data Sources
*.csv
master_data.json